@font-face {
  font-family: 'iconfont';  /* Project id 2615834 */
  src: url('//at.alicdn.com/t/font_2615834_k3rnwsmwizj.woff2?t=1624869982810') format('woff2'),
       url('//at.alicdn.com/t/font_2615834_k3rnwsmwizj.woff?t=1624869982810') format('woff'),
       url('//at.alicdn.com/t/font_2615834_k3rnwsmwizj.ttf?t=1624869982810') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}